<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- Add MIME type for .lrc files -->
            <remove fileExtension=".lrc" />
            <mimeMap fileExtension=".lrc" mimeType="text/plain" />
        </staticContent>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
